.contact-page,
.contact-page * {
  box-sizing: border-box;
}

.contact-page {
  background: #ffffff;
  height: 2262px;
  position: relative;
  overflow: hidden;
}

.header-83 {
  background: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  border-style: solid;
  border-color: #000000;
  border-width: 2px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 80px;
  align-items: center;
  justify-content: center;
  width: 1440px;
  height: 900px;
  position: absolute;
  left: 0px;
  top: 72px;
  overflow: hidden;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 768px;
  position: relative;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.heading {
  color: var(--white, #ffffff);
  text-align: center;
  font-family: "MabryPro-Bold", sans-serif;
  font-size: 56px;
  line-height: 120%;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}

.text {
  color: var(--white, #ffffff);
  text-align: center;
  font-family: "MabryPro-Regular", sans-serif;
  font-size: 18px;
  line-height: 150%;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}

.actions {
  padding: 16px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.button {
  border-style: solid;
  border-color: var(--white, #ffffff);
  border-width: 1px;
  padding: 12px 24px 12px 24px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(10px);
}

.button2 {
  color: var(--white, #ffffff);
  text-align: left;
  font-family: "MabryPro-Regular", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
  position: relative;
}

.contact-14 {
  background: #ffc900;
  border-style: solid;
  border-color: #000000;
  border-width: 4px 0px 0px 0px;
  padding: 112px 64px 112px 64px;
  display: flex;
  flex-direction: column;
  gap: 80px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 1440px;
  position: absolute;
  left: 0px;
  top: 972px;
  overflow: hidden;
}

.section-title {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 768px;
  position: relative;
}

.subheading {
  color: var(--black, #000000);
  text-align: center;
  font-family: var(
    --text-regular-semi-bold-font-family,
    "Roboto-SemiBold",
    sans-serif
  );
  font-size: var(--text-regular-semi-bold-font-size, 16px);
  line-height: var(--text-regular-semi-bold-line-height, 150%);
  font-weight: var(--text-regular-semi-bold-font-weight, 600);
  position: relative;
}

.heading2 {
  color: var(--black, #000000);
  text-align: left;
  font-family: "MabryPro-Bold", sans-serif;
  font-size: 48px;
  line-height: 120%;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}

.text2 {
  color: var(--black, #000000);
  text-align: left;
  font-family: var(
    --text-medium-normal-font-family,
    "Roboto-Regular",
    sans-serif
  );
  font-size: var(--text-medium-normal-font-size, 18px);
  line-height: var(--text-medium-normal-line-height, 150%);
  font-weight: var(--text-medium-normal-font-weight, 400);
  position: relative;
  align-self: stretch;
}

.content2 {
  display: flex;
  flex-direction: row;
  gap: 80px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.row {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 400px;
  position: relative;
}

.content3 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.icon-email {
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  position: relative;
  overflow: visible;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.heading3 {
  color: var(--black, #000000);
  text-align: left;
  font-family: "MabryPro-Bold", sans-serif;
  font-size: 20px;
  line-height: 140%;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}

.text3 {
  color: var(--black, #000000);
  text-align: left;
  font-family: var(
    --text-regular-normal-font-family,
    "Roboto-Regular",
    sans-serif
  );
  font-size: var(--text-regular-normal-font-size, 16px);
  line-height: var(--text-regular-normal-line-height, 150%);
  font-weight: var(--text-regular-normal-font-weight, 400);
  position: relative;
  align-self: stretch;
}

.link {
  color: var(--black, #000000);
  text-align: left;
  font-family: "MabryPro-Regular", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
  text-decoration: underline;
  position: relative;
  align-self: stretch;
}

.icon-phone {
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  position: relative;
  overflow: visible;
}

.icon-pin {
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  position: relative;
  overflow: visible;
}

.text4 {
  color: var(--black, #000000);
  text-align: left;
  font-family: "MabryPro-Regular", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}

.actions2 {
  padding: 16px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.button3 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}

.button4 {
  color: var(--black, #000000);
  text-align: left;
  font-family: "MabryPro-Regular", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
  position: relative;
}

.icon-chevron-right {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}

.placeholder-image {
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 3px;
  flex-shrink: 0;
  width: 832px;
  height: 516px;
  position: relative;
  box-shadow: 6px 8px 4px 0px rgba(0, 0, 0, 1);
  object-fit: cover;
}

.footer-4 {
  background: #000000;
  padding: 80px 64px 80px 64px;
  display: flex;
  flex-direction: column;
  gap: 80px;
  align-items: center;
  justify-content: flex-start;
  width: 1440px;
  position: absolute;
  left: 0px;
  top: 1941px;
  overflow: hidden;
}

.content4 {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.logo {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
  overflow: hidden;
}

.links {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.link2 {
  color: #ffffff;
  text-align: left;
  font-family: "MabryPro-Bold", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 700;
  position: relative;
}

.social-links {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
  position: relative;
}

.icon-facebook {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}

.icon-instagram {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}

.icon-x {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}

.icon-linked-in {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}

.icon-youtube {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}

.credits {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.divider {
  background: #ffffff;
  align-self: stretch;
  flex-shrink: 0;
  height: 1px;
  position: relative;
}

.row2 {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.text5 {
  color: #ffffff;
  text-align: left;
  font-family: "MabryPro-Regular", sans-serif;
  font-size: 14px;
  line-height: 150%;
  font-weight: 400;
  position: relative;
}

.footer-links {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.link3 {
  color: #ffffff;
  text-align: left;
  font-family: "MabryPro-Regular", sans-serif;
  font-size: 14px;
  line-height: 150%;
  font-weight: 400;
  text-decoration: underline;
  position: relative;
}

.rue-s-run-farms {
  color: #ffffff;
  text-align: left;
  font-family: "Sunmora-Bold", sans-serif;
  font-size: 58px;
  font-weight: 700;
  position: absolute;
  left: 45px;
  top: 1986px;
}

.navbar-contact {
  position: sticky;
  left: 0px;
  top: -8px;
}

.navbar-2 {
  background: var(--white, #ffffff);
  border-style: solid;
  border-color: #000000;
  border-width: 0px 0px 1px 0px;
  padding: 0px 64px 0px 64px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  width: 1440px;
  height: 72px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.column2 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}

.column3 {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}

.link4 {
  color: var(--black, #000000);
  text-align: left;
  font-family: "MabryPro-Regular", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
  position: relative;
}

.column4 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-end;
  justify-content: center;
  flex: 1;
  position: relative;
}

.button5 {
  background: var(--black, #000000);
  border-radius: 5px;
  border-style: solid;
  border-color: var(--black, #000000);
  border-width: 1px;
  padding: 8px 20px 8px 20px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}

.rue-s-run-farms2 {
  color: #000000;
  text-align: left;
  font-family: "Sunmora-Bold", sans-serif;
  font-size: 58px;
  font-weight: 700;
  position: absolute;
  left: 0px;
  top: -8px;
}
