.desktop {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  background-color: #ffffff;
}

.desktop .navbar {
  display: flex;
  flex-direction: column;
  width: 1440px;
  height: 72px;
  align-items: center;
  justify-content: center;
  padding: 0px 64px;
  position: relative;
  background-color: var(--white);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #000000;
}

.desktop .container {
  align-items: center;
  justify-content: center;
  gap: 32px;
  display: flex;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.desktop .column {
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.desktop .div {
  display: inline-flex;
  align-items: flex-start;
  gap: 32px;
  position: relative;
  flex: 0 0 auto;
}

.desktop .link {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--text-regular-normal-font-family);
  font-weight: var(--text-regular-normal-font-weight);
  color: var(--black);
  font-size: var(--text-regular-normal-font-size);
  letter-spacing: var(--text-regular-normal-letter-spacing);
  line-height: var(--text-regular-normal-line-height);
  white-space: nowrap;
  font-style: var(--text-regular-normal-font-style);
}

.desktop .button-wrapper {
  all: unset;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.desktop .button {
  all: unset;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 8px 20px;
  position: relative;
  flex: 0 0 auto;
  margin-top: -2px;
  margin-bottom: -2px;
  margin-right: -2px;
  background-color: var(--black);
  border: 1px solid;
  border-color: var(--black);
}

.desktop .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  margin-left: -1px;
  font-family: var(--text-regular-normal-font-family);
  font-weight: var(--text-regular-normal-font-weight);
  color: var(--white);
  font-size: var(--text-regular-normal-font-size);
  letter-spacing: var(--text-regular-normal-letter-spacing);
  line-height: var(--text-regular-normal-line-height);
  white-space: nowrap;
  font-style: var(--text-regular-normal-font-style);
}

.desktop .header {
  display: flex;
  flex-direction: column;
  width: 1440px;
  height: 900px;
  align-items: center;
  gap: 80px;
  position: relative;
  background-color: var(--white);
}

.desktop .container-2 {
  align-items: flex-start;
  display: flex;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.desktop .column-2 {
  display: flex;
  flex-direction: column;
  height: 900px;
  align-items: flex-start;
  justify-content: center;
  gap: 24px;
  padding: 0px 80px 0px 64px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.desktop .content {
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  position: relative;
}

.desktop .heading {
  margin-top: -1px;
  font-size: var(--heading-h1-font-size);
  line-height: var(--heading-h1-line-height);
  position: relative;
  align-self: stretch;
  font-family: var(--heading-h1-font-family);
  font-weight: var(--heading-h1-font-weight);
  color: var(--black);
  letter-spacing: var(--heading-h1-letter-spacing);
  font-style: var(--heading-h1-font-style);
}

.desktop .text {
  position: relative;
  align-self: stretch;
  font-family: var(--text-medium-normal-font-family);
  font-weight: var(--text-medium-normal-font-weight);
  color: var(--black);
  font-size: var(--text-medium-normal-font-size);
  letter-spacing: var(--text-medium-normal-letter-spacing);
  line-height: var(--text-medium-normal-line-height);
  font-style: var(--text-medium-normal-font-style);
}

.desktop .actions {
  display: inline-flex;
  align-items: flex-start;
  gap: 16px;
  padding: 16px 0px 0px;
  position: relative;
  flex: 0 0 auto;
}

.desktop .div-wrapper {
  all: unset;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 12px 24px;
  position: relative;
  flex: 0 0 auto;
  margin-top: -2px;
  margin-bottom: -2px;
  margin-left: -2px;
  background-color: var(--black);
  border: 1px solid;
  border-color: var(--black);
}

.desktop .button-2 {
  all: unset;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 12px 24px;
  position: relative;
  flex: 0 0 auto;
  margin-top: -1px;
  margin-bottom: -1px;
  margin-right: -1px;
  border: 1px solid;
  border-color: var(--black);
}

.desktop .text-wrapper-2 {
  position: relative;
  width: fit-content;
  font-family: var(--text-regular-normal-font-family);
  font-weight: var(--text-regular-normal-font-weight);
  color: var(--black);
  font-size: var(--text-regular-normal-font-size);
  letter-spacing: var(--text-regular-normal-letter-spacing);
  line-height: var(--text-regular-normal-line-height);
  white-space: nowrap;
  font-style: var(--text-regular-normal-font-style);
}

.desktop .placeholder-image {
  position: relative;
  flex: 1;
  flex-grow: 1;
  height: 900px;
  object-fit: cover;
}

.desktop .banners {
  display: flex;
  flex-direction: column;
  width: 1440px;
  align-items: center;
  padding: 0px 64px;
  position: relative;
  flex: 0 0 auto;
  background-color: var(--white);
  box-shadow: inset 0px -1px 0px #000000;
}

.desktop .content-2 {
  align-items: flex-start;
  justify-content: space-between;
  padding: 16px 0px;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  position: relative;
}

.desktop .text-wrapper-3 {
  display: inline-flex;
  align-items: flex-start;
  padding: 0px 16px;
  position: relative;
  flex: 0 0 auto;
}

.desktop .text-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--heading-h6-font-family);
  font-weight: var(--heading-h6-font-weight);
  color: var(--black);
  font-size: var(--heading-h6-font-size);
  letter-spacing: var(--heading-h6-letter-spacing);
  line-height: var(--heading-h6-line-height);
  white-space: nowrap;
  font-style: var(--heading-h6-font-style);
}

.desktop .div-2 {
  display: flex;
  flex-direction: column;
  width: 1440px;
  align-items: center;
  gap: 80px;
  padding: 112px 64px;
  position: relative;
  flex: 0 0 auto;
  background-color: var(--white);
}

.desktop .section-title {
  display: flex;
  flex-direction: column;
  width: 768px;
  align-items: center;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.desktop .subheading {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--text-regular-semi-bold-font-family);
  font-weight: var(--text-regular-semi-bold-font-weight);
  color: var(--black);
  font-size: var(--text-regular-semi-bold-font-size);
  text-align: center;
  letter-spacing: var(--text-regular-semi-bold-letter-spacing);
  line-height: var(--text-regular-semi-bold-line-height);
  white-space: nowrap;
  font-style: var(--text-regular-semi-bold-font-style);
}

.desktop .content-3 {
  flex-direction: column;
  align-items: center;
  gap: 24px;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  position: relative;
}

.desktop .heading-2 {
  margin-top: -1px;
  font-size: var(--heading-h2-font-size);
  text-align: center;
  line-height: var(--heading-h2-line-height);
  position: relative;
  align-self: stretch;
  font-family: var(--heading-h2-font-family);
  font-weight: var(--heading-h2-font-weight);
  color: var(--black);
  letter-spacing: var(--heading-h2-letter-spacing);
  font-style: var(--heading-h2-font-style);
}

.desktop .p {
  position: relative;
  align-self: stretch;
  font-family: var(--text-medium-normal-font-family);
  font-weight: var(--text-medium-normal-font-weight);
  color: var(--black);
  font-size: var(--text-medium-normal-font-size);
  text-align: center;
  letter-spacing: var(--text-medium-normal-letter-spacing);
  line-height: var(--text-medium-normal-line-height);
  font-style: var(--text-medium-normal-font-style);
}

.desktop .content-4 {
  flex-direction: column;
  align-items: center;
  gap: 64px;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  position: relative;
}

.desktop .row {
  display: flex;
  align-items: flex-start;
  gap: 32px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.desktop .card {
  margin-left: -1px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 1;
  flex-grow: 1;
  margin-top: -1px;
  margin-bottom: -1px;
  border: 1px solid;
  border-color: var(--black);
}

.desktop .img {
  align-self: stretch;
  width: 100%;
  height: 300px;
  position: relative;
  object-fit: cover;
}

.desktop .content-5 {
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  padding: 24px;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  position: relative;
}

.desktop .content-6 {
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  position: relative;
}

.desktop .text-wrapper-4 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: var(--text-small-semi-bold-font-family);
  font-weight: var(--text-small-semi-bold-font-weight);
  color: var(--black);
  font-size: var(--text-small-semi-bold-font-size);
  letter-spacing: var(--text-small-semi-bold-letter-spacing);
  line-height: var(--text-small-semi-bold-line-height);
  font-style: var(--text-small-semi-bold-font-style);
}

.desktop .title {
  display: flex;
  flex-direction: column;
  width: 368px;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.desktop .heading-3 {
  margin-top: -1px;
  font-size: var(--heading-h5-font-size);
  line-height: var(--heading-h5-line-height);
  position: relative;
  align-self: stretch;
  font-family: var(--heading-h5-font-family);
  font-weight: var(--heading-h5-font-weight);
  color: var(--black);
  letter-spacing: var(--heading-h5-letter-spacing);
  font-style: var(--heading-h5-font-style);
}

.desktop .text-3 {
  position: relative;
  align-self: stretch;
  font-family: var(--text-regular-normal-font-family);
  font-weight: var(--text-regular-normal-font-weight);
  color: var(--black);
  font-size: var(--text-regular-normal-font-size);
  letter-spacing: var(--text-regular-normal-letter-spacing);
  line-height: var(--text-regular-normal-line-height);
  font-style: var(--text-regular-normal-font-style);
}

.desktop .avatar {
  display: flex;
  align-items: center;
  gap: 16px;
  align-self: stretch;
  width: 100%;
  position: relative;
  flex: 0 0 auto;
}

.desktop .placeholder-image-2 {
  width: 48px;
  height: 48px;
  position: relative;
  object-fit: cover;
}

.desktop .content-7 {
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  flex-grow: 1;
  display: flex;
  position: relative;
}

.desktop .time {
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.desktop .text-4 {
  position: relative;
  width: fit-content;
  font-family: var(--text-small-normal-font-family);
  font-weight: var(--text-small-normal-font-weight);
  color: var(--black);
  font-size: var(--text-small-normal-font-size);
  letter-spacing: var(--text-small-normal-letter-spacing);
  line-height: var(--text-small-normal-line-height);
  white-space: nowrap;
  font-style: var(--text-small-normal-font-style);
}

.desktop .text-wrapper-5 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--text-medium-normal-font-family);
  font-weight: var(--text-medium-normal-font-weight);
  color: var(--black);
  font-size: var(--text-medium-normal-font-size);
  letter-spacing: var(--text-medium-normal-letter-spacing);
  line-height: var(--text-medium-normal-line-height);
  white-space: nowrap;
  font-style: var(--text-medium-normal-font-style);
}

.desktop .card-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 1;
  flex-grow: 1;
  margin-top: -1px;
  margin-bottom: -1px;
  border: 1px solid;
  border-color: var(--black);
}

.desktop .text-wrapper-6 {
  font-size: var(--heading-h5-font-size);
  line-height: var(--heading-h5-line-height);
  position: relative;
  align-self: stretch;
  font-family: var(--heading-h5-font-family);
  font-weight: var(--heading-h5-font-weight);
  color: var(--black);
  letter-spacing: var(--heading-h5-letter-spacing);
  font-style: var(--heading-h5-font-style);
}

.desktop .card-3 {
  margin-right: -1px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 1;
  flex-grow: 1;
  margin-top: -1px;
  margin-bottom: -1px;
  border: 1px solid;
  border-color: var(--black);
}

.desktop .button-3 {
  all: unset;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 12px 24px;
  position: relative;
  flex: 0 0 auto;
  margin-bottom: -1px;
  border: 1px solid;
  border-color: var(--black);
}

.desktop .button-4 {
  all: unset;
  box-sizing: border-box;
  position: relative;
  width: fit-content;
  font-family: var(--text-regular-normal-font-family);
  font-weight: var(--text-regular-normal-font-weight);
  color: var(--black);
  font-size: var(--text-regular-normal-font-size);
  letter-spacing: var(--text-regular-normal-letter-spacing);
  line-height: var(--text-regular-normal-line-height);
  white-space: nowrap;
  font-style: var(--text-regular-normal-font-style);
}

.desktop .layout {
  position: relative;
  width: 1440px;
  flex: 0 0 auto;
}

.desktop .content-8 {
  flex-direction: column;
  width: 768px;
  align-items: center;
  gap: 24px;
  flex: 0 0 auto;
  display: flex;
  position: relative;
}

.desktop .column-3 {
  display: flex;
  flex-direction: column;
  height: 900px;
  align-items: flex-start;
  justify-content: center;
  gap: 24px;
  padding: 0px 64px 0px 80px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.desktop .content-9 {
  align-items: center;
  gap: 80px;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  position: relative;
}

.desktop .placeholder-image-3 {
  flex: 1;
  flex-grow: 1;
  height: 640px;
  position: relative;
  object-fit: cover;
}

.desktop .content-10 {
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  flex: 1;
  flex-grow: 1;
  display: flex;
  position: relative;
}

.desktop .stars {
  position: relative;
  flex: 0 0 auto;
}

.desktop .avatar-2 {
  display: inline-flex;
  align-items: center;
  gap: 20px;
  position: relative;
  flex: 0 0 auto;
}

.desktop .avatar-content {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.desktop .text-5 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--text-regular-semi-bold-font-family);
  font-weight: var(--text-regular-semi-bold-font-weight);
  color: var(--black);
  font-size: var(--text-regular-semi-bold-font-size);
  letter-spacing: var(--text-regular-semi-bold-letter-spacing);
  line-height: var(--text-regular-semi-bold-line-height);
  white-space: nowrap;
  font-style: var(--text-regular-semi-bold-font-style);
}

.desktop .divider {
  position: relative;
  width: 1px;
  height: 61px;
  object-fit: cover;
}

.desktop .webflow-black {
  position: relative;
  width: 120px;
  height: 48px;
}
